.navegador{
 background-color: rgb(112, 4, 4);
 display: flex;
 justify-content: center;
 align-items: center;
 height: 85px;
 font-size: 15px;
 position: sticky;
}

.conteiner{
 transition: box-shadow 0.3s ease;
 display: flex;
 justify-content: space-around;
 height: 80px;
 width: 100%;
 padding: 0 24px;
 cursor: pointer;
    
}

.conteiner:hover{
 box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.836) ;
}
  

.Navmenu{
 display: flex;
 align-items: center;
 list-style: none;
 text-align: center;
}

.NavLink{
 text-decoration: none;
 margin-right: 20px;
 color: aliceblue;
}

.NavLink:hover{
 color: black;
}

.img{
 height: 70px;
 margin-right: 10px;
}
.logopages{
 color: aliceblue;
 font-size: 20px;
}

.subContenedor{
 display: flex;
 flex-direction: row;
 align-items: center;
}

@media (max-width: 767px) {
    .img,
    .logopages {
      display: none; 
    }
  
    .conteiner {
      justify-content: center; 
    }
  }