.contenedor{
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 50px;
    
} 

.form-reserva{
    border: 2px solid black;
    padding: 25px;
    border-radius: 30px;
    background-color: #665652b7;
}

.form-reserva:hover{
    background-color: #a0341fb2;
    color: aliceblue;
}

.tabladatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.th{
    padding-left: 40px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color:  #a0341fb2;
}

.td{
    padding-left: 40px;
    padding-right: 10px;
    padding-bottom: 10px;
}